

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background: url('../img/bg.png') no-repeat;
    padding-top: 0;
    min-height: 800px;
    background-size: 100%;
}

body .navbar{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    background: none;
    height: 55px;
}

#background{
	background-color:#f2f2f2;
}
.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}

.navbar-nav>li>a:hover{
    background-color: #353434;
}
.navbar-nav>li>a:active,.navbar-nav>li>a:focus{
    color: #e76624 !important;;
    background-color: #353434 !important;
}
.navbar-brand>img {
    width: 60%;
    margin-left: 35%;
}
.navbar>.container-fluid .navbar-brand {
    padding: 0;
}
.navbar-nav {
    margin-top: 20px;
}
.slide{
    margin-bottom: 60px;
    margin-top: -30px;
}
.slide img{
    width: 76%;
    margin-left: 12%;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #353434;
}

.navbar-nav>li>.dropdown-menu li a{
    color: #ea6c24;
}
.navbar-nav>li>.dropdown-menu li a:hover,.navbar-nav>li>.dropdown-menu li a:focus{
    color: #f1f0f0 !important;
    background-color: #353434 !important;
}

.container{
	padding-left: 10%;
	padding-right: 10%;
}

.container .row.reason{
    margin-bottom: 20px;
}

.container .row.reason img{
    /*width: 96%;*/
    margin-left: 2%;
}

.container .row.reason-list,.row.introduce-area{
  margin-bottom: 50px;
}

.container .row.introduce-2-area .information{
    padding-left: 20px;
  padding-right: 30px;
  font-size: 12px;
}

.container .row.introduce-2-area .information h5{
	padding-left: 10px;
color: #ffffff;
  font-size: 18px;
  padding-top: 10px;
}

.container .row.introduce-2-area .information .information-item-header span{
  color: #ffc543;
  padding-left: 10px;
}

.container .row.introduce-2-area .information .information-item-body {
	padding-left: 10px;
}

.container .row.introduce-2-area .information .information-item-footer {
	padding-left: 10px;
}

.container .row.introduce-2-area .information .information-item-body span{ 
	color:#ffffff;
}

.container .row.introduce-2-area .information .information-item-footer span{ 
	color:#ffc543;
}

.container .row.reason-list .reason-item a{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.container .row.reason-list .reason-item a .caption{
    background-color: #e25b25;
    color: #ffffff;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    margin-top: 20px;
    padding: 7px;
    text-align: center;
}

.container .row.reason-list .reason-item a .caption h5{
    margin: 0;
}

.container .row .introduce{
	background-color: #ffffff;
	padding: 5px 10px 5px 0;
}

.container .row .introduce-2{
	background-color: #e15825;
	padding: 5px 10px 0 0;
	color:#ffffff;
	padding-top: 5px;
}

.container .row .introduce-2 img{
  padding-top: 31px;
}

.container .row .introduce-2 p:first-child{
	text-align: justify;
  	margin-bottom: 0;
}

.container .row .introduce .intro-head{
	color: #e25b25;
	font-weight: bold;
}
.container .row .introduce .intro-head .intro-head-title{
	padding-top: 2px;
	font-size: 18px;
}

.container .row .introduce .intro-body{
	text-align: justify ;
	padding-left: 20px;
}

.container .row .introduce .intro-foot{
	text-align: right;
	padding-right: 5px;
}
.container .row .introduce .intro-foot a{
	color: #e25b25;
}

.container .row .course{
	background: url('../img/new-course-bg.png');
	background-size: 100%;
	min-height: 215px;
	position: relative;
}

.container .row .course .course-title{
  padding: 12px;
  color: #ffffff;
  font-weight: bold;
}

.container .row .information{
	background: url('../img/info-bg.png');
	background-size: 100%;
	min-height: 235px;
	position: relative;
}

.container .row .course .day{
	font-size: 80px;
	position: absolute;
	margin: 0 auto;
	left: 50%;
	top: 50%;
	color: #ffffff;
	transform: translate(-50%, -50%);
}

.container .row .common-title{
	color: #e25b25;
	font-weight: bold;
	margin-bottom: 10px;
  	font-size: 18px;
}


.container .row .common-title .telephone-num{
  font-size: 30px;
  color: #ffc543;
  font-style: italic;
}

.container .row.title {
	margin-top: 20px;
}

.container .row.contact .contact-item a{
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.container .row.contact .contact-item:first-child{
    padding-left: 0;
  	width: 300px;
}

.container .row.contact .contact-item label{
    color: #5e5e5e;
    font-weight: normal;
}

.container .row.contact .contact-item textarea{
    resize:none;
}

.container .row.contact .contact-item textarea,input[type="text"]{
    background-color: #cecdcd;
    border-radius: 0;
}

.container .row.contact .contact-item .radio-label{
    width: 49%;
  	margin-top: 15px;
  	text-align: justify;
}
.container .row.contact .contact-item .radio-label input[type="radio"]{
    margin-left: 5px;
}
  
.container .row.contact .contact-item .submit-btn button{
  background-color: #ffc543;
  color: #ffffff;
  border: none;
  height: 23px;
}

.container .row.contact .contact-item .submit-btn {
	text-align: right;
}
footer .container .row .logo {
    text-align: right;
    padding-top: 45px;
}
footer .container .row .logo ul{
	list-style: none;
	padding-left: 0;
	  width: 50%;
  float: left;
  margin-top: 10px;
}

footer .container .row .logo ul li{
	display: inline-block;
}
footer .container .row .link-map {
	padding-top: 20px;
	color: #ffffff;
}

footer .container .row .link-map ul{
	list-style: none;
	padding-left: 0;
}

footer .container .row .link-map ul li{
	display: inline-block;
	color: #ffffff;
}

footer .container .row .link-map p{
	margin: 0;
}

footer .copyright{
	text-align: center;
  	margin-bottom: 0;
}
footer .footer-area{
	background-color:#df5325;height: 150px;
}